.Adposts{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-top: 30px;
}
.para{
  margin-top: 20px; 
  margin-bottom: 0px;
  margin-left:7%;
  font-size: 40px;
  color: rgb(69, 68, 68);
}