.posts{
    flex:20%;
    margin:15px;
    min-height: 340px;
    min-width: 340px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgba(208, 208, 208, 0.434);
    box-shadow: 4px 4px rgb(195, 195, 195);
    background-color: white;
}

.image{
    position: absolute;
    top:10px;
    left: 5%;
    width: 90%;
    max-height: 70%;
    object-fit: cover;
}

.price{
    position: absolute;
    bottom:30px;
    left:20px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(59, 59, 59);
}

.dateOfBuying{
    position: absolute;
    bottom: 18px;
    left: 30px;
    color: rgb(59, 59, 59);
    font-size:16px;
}

.pro_name{
    position: absolute;
    bottom: 22px;
    right: 0px;
    color: black;
    font-size: 31px;
    left: 130px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 50%; */
}

.desc{
    position: absolute;
    bottom: -10px;
    right: 20px;
    color: rgb(59, 59, 59);
}

.hostel{
    position: absolute;
    bottom: -10px;
    left: 30px;
    color: rgb(59, 59, 59);
}

.postDate{
    position: absolute;
    bottom: -10px;
    right: 30px;
    color: rgb(59, 59, 59); 
}