.supreme{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}


.dropbtn {
  color:black;
  padding: 16px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: #f1f1f1;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #f1f1f1;
}

.dropbtn:hover{
  background-color: rgb(136, 255, 255);
  border: 1px solid black;
  border-radius: 3px;
}

.categ{
  background-color: #f1f1f1;
}
