.btn {
    font: arial;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    background-color: steelblue;
    color: rgb(0, 0, 0);
    border: 1px solid steelblue;
    width: 60%;
    height: 40px;
    margin: 20px 0 20px 0;
    padding: 6px 10px 6px 10px;
}


.btn:hover { 
    opacity: 0.8;
    transform: translateY(-1px);
    border: 2px solid black;
    text-decoration: underline;
}

.actions {
text-align: right;
}

.modal {
box-shadow: 4px 4px 4px 4px grey;
border-radius: 6px;
background-color:white;
padding: 1rem;
text-align: center;
width: 30rem;
z-index: 10;
position: fixed;
top: 3vh;
left: calc(50% - 15rem);
box-shadow: rgb(0, 0, 0);
}

.head{
    font-size: 22px; 
    margin-bottom:3px;   
}

.head p{
    margin-top:3px;
    margin-bottom:3px;
}


.criteria1,.criteria2,.criteria3,.criteria4,.criteria5,.criteria6,.criteria7,.criteria8,.criteria9{
    font-size: 25px;
    margin-bottom:2px;
} 

.input1a,.input1b{
    width:28%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.input2{
    width:28%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.input3{
    width:30%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.criteria2,.criteria3{
    margin-left: 8%;
    margin-right: 5%;
}

.input4,.input5{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    width: 60%;
}

.input6,.input7,.input8,.input9{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    width: 58%;
}

.head img{
    height: 80px;
}
