.login{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50px;
    max-width: 160px;
    min-width: 100px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.login strong span {
    position: absolute;
    top: 5px;
    right: 23px;
}

.login img{
    position: absolute;
    height: 50%;
    right:-1%;
    top: 12px;
    border-radius: 50%;
}

.login:hover{
    background-color: steelblue;
    
}
.login u:hover{
    text-decoration: underline;
}